h2 #{weaponname}

table
  tr
    th Icon
    th ID
    th Name
    th Job
    th Level
    th Bonus
  each weapon in weapons
    tr
      td
        img(src!=`icons/ ${weapon.icon}`)
      td #{weapon.id}
      td #{weapon.name}
      td #{weapon.job}
      td #{weapon.level !== 0 ? weapon.level : ""}
      td !{weapon.bonus.filter(x => x !== undefined).map(bonusToString).join("<br>")}
    